<h1>Edit Activity</h1>

<form id="edit-activity" name="activity">
  <div class="field">
    <label for="code"> code:</label>
    <input type="text" name="code" id="code" value="<%= code %>" >
  </div>

  <div class="field">
    <label for="description"> description:</label>
    <input type="text" name="description" id="description" value="<%= description %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Activity" />
  </div>

</form>

<a href="#/index">Back</a>