<h1>New Activity</h1>

<form id="new-activity" name="activity">
  <div class="field">
    <label for="code"> code:</label>
    <input type="text" name="code" id="code" >
  </div>

  <div class="field">
    <label for="description"> description:</label>
    <input type="text" name="description" id="description">
  </div>

  <div class="actions">
    <input type="submit" value="Create Activity" />
  </div>

</form>

<a href="#index">Back</a>